<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div>
   <%= form.label 'Reply:', class: "font-bold text-slate-500" %><br>
    <%= form.text_area :body, class: "w-full rounded-md border-2 border-slate-300" %>
  </div>

<%= form.hidden_field :user_id, value: current_user.id %>

  <div class="mb-8">
    <%= form.submit "Tweet it!", class: "bg-blue-500 px-3 py-2 text-white rounded-full hover:bg-blue-700" %>
  </div>
<% end %>
