<%= form_with model: article do |form| %> 
  <div>
    <%= form.text_area :body, class: "w-full rounded-md border-2 border-slate-300" %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <%= form.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= form.submit "Tweet it!", class: "bg-blue-500 px-3 py-2 text-white rounded-full hover:bg-blue-700" %>
  </div>
<% end %>
