<ul class="flex gap-4 items-center">
    <li class="cursor-pointer text-red-500 hover:text-red-800"><i class="fa-regular fa-heart"></i> 0</li>
    <%= button_to '/article/interaction', method: :post, params: { interaction_type: 'retweet', article_id: article.id }, class: "" do %>
        <li class="cursor-pointer text-blue-500 hover:text-blue-800"><i class="fa-solid fa-retweet"></i> 
        <%= article.retweet_count %></li>
    <%end %>

    <li class="cursor-pointer text-orange-500 hover:text-orange-800">
        <%= link_to article do %>
            <i class="fa-regular fa-comment"></i>
            <%= article.comments.public_count %>
        <% end %>
    </li>
    <li><span class="text-sm font-bold text-slate-300"><%= time_ago_in_words(article.created_at) %> ago</span></li>
</ul>