<h1 class="text-3xl font-bold underline mb-4">Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<ul class="mb-4">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li class="text-xl mb-4">
        <%= link_to article.title, article, class: "underline" %> <br>
        <span class="text-sm">posted <%= time_ago_in_words(article.created_at) %> ago by @<%= article.user.slug %></span>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path, class: "bg-blue-500 px-3 py-2 text-white rounded-full hover:bg-blue-700" %>
