<ul class="mt-4">
      <li class="mb-4 pb-4 border-b-2 px-4 border-slate-300">
         <header class="font-bold text-xs text-slate-500 mb-2">
          @<%= link_to @article.user.slug, user_path(@article.user) %>
        </header>
         <p class="mb-3"><%= @article.body %></p>
         <hr class="mb-3">
         <div class="flex justify-between">
          <%= render 'interactions', article: @article %>

          <ul class="flex gap-4">
            <li><%= link_to "Edit", edit_article_path(@article), class: "text-xs underline font-bold text-slate-300" %></li>
            <li><%= link_to "<i class=\"fa-solid fa-trash text-slate-300\"></i>".html_safe, article_path(@article), data: {
                              turbo_method: :delete,
                              turbo_confirm: "Are you sure?"
                            } %></li>
          </ul>
        </div>
      </li>
</ul>

<div class="px-4">
  <%= render 'comments/form' %>
  <%= render @article.comments %>
</div>
