<h1><%= User.find(params[:id]).slug %></h1>
<ul class="mb-4">
    <li>Followers: <%= @user.followers.count() %></li>
    <li>Following: <%= @user.followees.count() %></li>
    <li>Tweets: <%= @user.articles.count() %></li>
    <li>Member since: <%= @user.created_at %></li>
</ul>


<ul class="">
  <% @articles.each do |article| %>
      <li class="mb-4 pb-4 border-b-2 px-4 border-slate-300">
         <header class="font-bold text-xs text-slate-500 mb-2">
          @<%= article.user.slug %>
          </header>
         <p class="mb-3"><%= link_to article.body, article %></p>
         <hr class="mb-3">
         <%
=begin%>
 <%= render 'interactions', article: article %> 
<%
=end%>
      </li>
  <% end %>
</ul>