<!DOCTYPE html>
<html>
  <head>
    <title>FirstTry</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <script src="https://kit.fontawesome.com/5f669c3761.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-100">
  <header class="container bg-blue-500 mx-auto py-4 px-4 flex justify-between items-center text-white">
    <h1 class="text-lg"><i class="fa-brands fa-twitter mr-2"></i><%= link_to "Bitter", root_path %></h1>
    <ul class="flex gap-4 items-center">
      <li class="text-xs font-bold"><i class="fa-solid fa-user"></i> <%= link_to "@" + current_user.slug, user_path(current_user) %></li>
      <li class=""><%= link_to '<i class="fa-solid text-blue-500 fa-feather"></i>'.html_safe, new_article_path, class: "rounded-full bg-white p-2 hover:bg-blue-800" %></li>
    </ul>
  </header>
  <% if notice %>
  <section class="bg-green-500 p-3 text-white font-bold text-sm">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </section>
  <% end %>
    <main class="container mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
